In [1]:
import datetime

In [3]:
nw = datetime.datetime.now()

In [9]:
print(type(nw))

<class 'datetime.datetime'>

In [35]:
td = datetime.datetime.now()
df2 = td +  datetime.timedelta(days=1.3)
print(df2)

2025-02-11 00:24:10.359788

In [77]:
s1 = "2024/2/9 14:30:59"
dt = datetime.datetime.strptime(s1, "%Y/%m/%d %H:%M:%S")
print(dt)
df = dt + datetime.timedelta(days=1)
print(df)

2024-02-09 14:30:59
2024-02-10 14:30:59

In [109]:
dt = datetime.datetime.now()
print(type(dt.strftime("%d,%B %Y %A %H:%M:%S")))

<class 'str'>

In [ ]:
%y - year without century
%Y - year with century
%m - month (01 to 12)
%d - date (01 to 31)
%a - Abbreviated weekday name (Mon)
%A - Full weekday name
%b - Abbreviated month name (Jan)
%B - Full month name

%H - hours (00 to 23)
%I - hours (01 to 12)
%P - AM or PM
%M - minute (00 to 59)
%S - seconds (00 to 59)
%f - Microseconds (000000 to 999999)

In [129]:
td = datetime.datetime.now()
df2 = td -  datetime.timedelta(days=2)
s1 = df2.strftime("%d %B, %Y - %a, %I:%M %p")
print(s1)

07 February, 2025 - Fri, 08:46 PM

In [131]:
td = datetime.datetime.now()
df2 = td -  datetime.timedelta(days=2)
print(df2)

2025-02-07 20:47:14.445471

In [181]:
s1 = "2019-3-2 21:56:00:12345"
d = datetime.datetime.strptime(s1,"%Y-%m-%d %H:%M:%S:%f")
print(d)

2019-03-02 21:56:00.123450

In [183]:
nw = datetime.date.today()

In [185]:
print(type(nw))

<class 'datetime.date'>

In [189]:
td = datetime.datetime.now()
df2 = datetime.timedelta(days=2)
print(type(df2))

<class 'datetime.timedelta'>